<!-- <%- mediaCollections %> -->
<% if(status != null){ %>
<h1><%= status %></h1><hr />
<% } %>

<h1>Media for casting</h1>
<%
for(var i = 0; i < mediaCollections.length; i++){
%>
<h2><img src="<%= mediaCollections[i].type %>.png"></img><%= mediaCollections[i].name %></h2>
<ul>
<% for(var mI = 0; mI < mediaCollections[i].files.length; mI++){ %>
<li><a href="/media/<%= i %>/<%= mI %>"><%= mediaCollections[i].files[mI].filename %></a></li>
<% } %>
</ul>
<%
}
%>